@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*CSS RESET*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:top;}
sub {vertical-align:bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
img { vertical-align: top; }
strong { font-weight: bold; }
em { font-style: italic;}
.clear {clear: both;}
* { outline: 0;  outline-color: transparent; outline-style: none; outline-width: 0; }
/*BXSTYLES*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
.bx-wrapper .bx-viewport {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #000;
}
.bx-wrapper .bx-prev {
    left: -70px;
    background: url(images/left.png) 0 0 no-repeat;
    transition: 0.3s;
}
.bx-wrapper .bx-next {
    right: -70px;
    background: url(images/right.png) top right no-repeat;
    transition: 0.3s;
}
.bx-wrapper .bx-prev:hover {
    left: 10px;
}
.bx-wrapper .bx-next:hover {
    right: 10px;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 44%;
    margin-top: -16px;
    outline: 0;
    width: 164px;
    height: 133px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:hover {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, .75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
.bxslider li {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.s_wrap .bx-slider {
    height: 100%;
    float: left;
}
.s_wrap .bx-wrapper {
    height: 100%;
}
.s_wrap .bx-viewport,
.s_wrap .bxslider li,
.s_wrap .bxslider {
    height: 100% !important;
}
.s_wrap {
    height: 100%;
	position:relative;
	z-index:9;
}
/* Parallax */

.parallax-window-page {
    min-height: 850px;
    background: transparent!important;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/*MAIN STYLES*/
body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
}
/*GENERAL*/
.no-padding {
    padding: 0;
}
.no-r-padding {
    padding-right: 0;
}
.no-l-padding {
    padding-left: 0;
}
img {
    max-width: 100%;
    height: auto;
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
.wrap {
    min-height:100%;
    position:relative;
}

.content {

}
.map {position:relative; z-index: 9;/*  margin-top:40px; */}
.footer {
    background: #FFF;
    width:100%;
    height:800px;
	position:relative;
    bottom:0;
    left:0;
    color: #000;
    font-size: 18px;
    z-index: 9;
}
.footer h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

.header {
    position: absolute;
    width: 100%;
    background: url('images/black-60.png') repeat 0 0;
    z-index: 99;
}
.logo {
    padding: 33px;
}
.main-menu {
    margin-top: 50px;
    float: right;
}
.main-menu li {
    float: left;
    padding: 0 15px;
}
.main-menu .current-menu-item a {
    color: #bcb8b8;
    border-bottom: 1px dashed  #bcb8b8;
}
.main-menu .current-menu-item a:hover {
    text-decoration: none;
}
.main-menu li.nostyle a {
	border:none;
	color:#FFF;
}
.main-menu a:hover {
    text-decoration: none;
    color: #f58026;
    transition: all 0.3s;
}
.main-menu li:last-child {
    padding-right: 0;
}
.main-menu li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.lang {
    background: url('images/black-70.png') repeat 0 0;
    padding: 5px 10px;
    margin-bottom: -15px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
}
.header .container {
    position: relative;
}
.slaider {
    position: relative;
    height:100vh;
    overflow: hidden;
}
.slider_slogan {
    margin-top: 18%;
    position: absolute;
    color: #fff;
    width: 100%;
}
.slider_slogan .inner {
    max-width: 1300px;
    margin: auto;
}
.slider_slogan h1 {
    font-size: 72px;
    font-weight: bold;
	padding:0 100px 0 0;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
    margin-bottom: 50px;
}
.slider_slogan p {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
	max-width:750px;
}
.guestbook {
    position: absolute;
    right: 15px;
    z-index: 9;
    bottom: 100px;
    max-width: 530px;
    background: url('images/black-70.png') repeat 0 0;
    color: #fff;
}
.guestbook .inner {
    margin: 10px;
    border: 2px dotted;
    width: 500px;
    padding: 10px 10px 10px 35px;
}
.g_title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}
.submity {
    display: inline-block;
    font-size: 22px;
    padding: 5px 25px;
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}
.g_readmore {
    margin-top: 30px;
}
.g_readmore a {
    position: absolute;
    bottom: 0;
}
.g_readmore .col-sm-6 {
    position: relative;
    height: 40px;
}
a, a:hover, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    outline: none;
}
.g_title .nav {
    float: right;
    color: #ccc;
    font-size: 22px;
}
.g_title .nav .fa {
    padding: 9px;
    cursor: pointer;
}
.g_content, .g_readmore {
    font-size: 20px;
}
.g_content {
    padding-right: 60px;
}
.workbench {
    background: url('images/taust2.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 50px 0 0 0;
    font-size: 28px;
}
.workbench, .workbench p {
  color: #fff;
  position: relative;
  z-index: 9;
}
.workbench li {
    list-style: disc inside;
    margin-bottom: 5px;
}
p {
    margin-bottom: 15px;
}
.orangeg {
  background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}
.workbench a, a#loadmore {
    display: inline-block;
    border-radius: 7px;
    padding: 12px 25px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    color: #ffffff;
}
a#loadmore {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 5px;
    text-align: center;
    width: 415px;
}
.workbench a:hover, a#loadmore:hover {
    text-decoration: underline;
}
.gallery_heading {
    padding: 30px 0;
    text-align: center;
    background: url('images/black-50.png') repeat 0 0;
    margin-top: 100px;
}
.gallery_heading h2 {
    font-size: 67px;
    text-transform: uppercase;
    font-style: italic;
/*     margin-bottom: 20px; */
}
.gallery_heading span {
    font-size: 18px;
}
.socialshare {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url('images/black-50.png') repeat 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 13px 0;
	z-index:9 ;
}
.page .socialshare { padding:30px 0; }
.form_item {
    margin-bottom: 15px;
}
.form_item input[type='text'],
.form_item input[type='email'],
.form_item input[type='tel'] {
    width: 100%;
}
.form_item input,
.form_item textarea {
    border: 1px solid black;
    padding: 15px;
    background-color: #fff;

}
.footer .form_item.textarea {
    margin-bottom: 10px;

}
.form_item textarea,
span.wpcf7-form-control-wrap.your-message
 {
    height: 130px;
    width: 100%;
    resize: none;
}

input.wpcf7-submit {
  background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    border: 0 none;
    float: right;
    padding: 15px 50px;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;

}
.feedback .form_item {
    margin-bottom: 30px;
}
.feedback input.wpcf7-submit {
    font-weight: bold;
    font-size: 24px;
    padding: 15px 75px;
    margin-bottom: 15px;
}
.feedback p {
    color: #fff;
    font-weight: bold;
}
.feedback input[type='text'],
.feedback input[type='email'] {
    height: 80px;
    line-height: 80px;
}
.acf-map {
    width: 100%;
    height: 580px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
.footer_b {
    float:left;
    bottom: 0;
    background: url('images/white-70.png') repeat 0 0;
    width: 100%;
    padding: 30px 0;
}
.footer .inner {
    position: relative;
}
.w_bg {
    min-height: 100vh;
    background-size: cover !important;
}
.content.w_bg .container {
    padding-top: 200px;
}
.form_wrap.feedback {
    max-width: 500px;
}
.form_wrap.feedback input[type='text'],
.form_wrap.feedback input[type='email'],
.form_wrap.feedback textarea {
    background: url('images/white-50.png') repeat 0 0;
    border: 0 none;
    width: 100%;
}
.form_wrap.feedback textarea {
    resize: none;
}
.form_wrap.feedback h1 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.feedback_post {
    background: url('images/white-50.png') repeat 0 0;
    padding: 30px 30px 30px 80px;
    margin-bottom: 80px;
    width: 400px;
    float: left;
    margin-right: 60px;
    position: relative;
}
.name {
    position: absolute;
    bottom: -60px;
    color: #fff;
    right: 0;
    font-weight: normal;
    font-size: 18px;
}
.feedback_post small {
    position: absolute;
    bottom: -80px;
    color: #fff;
    right: 0;
    font-weight: normal;
    font-size: 18px;
}
.feedback {
    padding-bottom: 50px;
}
.f_posts {
    overflow-x: scroll;
}
.f_posts .inner {
    width: 1500px;
    position: relative;
    height: 1000px;
}
.placeholder
{
  color: #000;
}
::-webkit-input-placeholder {
    color:    transparent;
}
:-moz-placeholder {
    color:    transparent;
}
::-moz-placeholder {
    color:    transparent;
}
:-ms-input-placeholder {
    color:    transparent;
}
.quoteimg {
    position: absolute;
    left: 20px;
    top: 36px;
}
.feedback .postcontent p {
    color: #000;
    font-weight: normal;
	word-wrap: break-word;
}
.triangle {
    position: absolute;
    right: 30px;
    bottom: -32px;
    opacity: 0.5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 24px 0 0px;
    border-color: #ffffff transparent transparent transparent;
}
.lang:hover #lang_sel_list {
    display: block;
}
div#lang_sel_list {
   display: none;
}
#lang_sel_list.lang_sel_list_vertical {
    width: 100%;
}
#lang_sel_list.lang_sel_list_vertical li {
    width: 100%;
    clear: both;
}
#lang_sel_list.lang_sel_list_vertical a:visited {
    border: 0;
    border-top-width: 0;
    padding-left: 10px;
}
#lang_sel_list.lang_sel_list_vertical a {
    border: 0;
    border-top-width: 0;
    padding-left: 10px;
}
#lang_sel_list ul a {
    background: transparent;
    color: #fff;
    height: auto;
    line-height: 1em;
}
#lang_sel_list a:visited {
    display: block;
    font-size: 11px;
    text-decoration: none !important;
    color: #fff;
    background: transparent;
    line-height: 18px;
    padding-left: 5px;
}
#lang_sel_list a.lang_sel_sel:hover {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}
#lang_sel_list.lang_sel_list_vertical ul {
    height: 0;
    top: 19px;
    left: 0;
    border-top: 0;
}
#lang_sel_list {
    height: auto;
}
#lang_sel_list.lang_sel_list_vertical ul a {
    padding: 3px 0;
}
#lang_sel_list a:hover {
    color: #ccc;
    transition: 0.3s;
}
#lang_sel_list a.lang_sel_sel {
    background-image: none;
    color: #FFF;
    text-decoration: underline !important;
}
.kkk {
    max-width: 1500px;
    margin: auto;
    background: url('images/black-80.png') repeat 0 0;
    color: #fff;
    padding: 30px ;
}
.kkk p {
    color: inherit;
}
.kkk h1 {
    font-size: 70px;
    margin-bottom: 60px;
}
.kkk .pages {
        margin-left: 20px;
}
.kkk .pages li {
    font-size: 28px;
    margin-bottom: 10px;
    list-style: disc outside;

}
.kkk .col-md-3 {
    border-right: 3px dotted;
}
/*.item-text {
    display: none;
}*/
.item span {
    font-size: 28px;
    display: block;
}
.item .item-text {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 19px;
    line-height: 22px;
    max-width: 720px;
    padding-left: 30px;
}
.kkk .item {
    margin-bottom: 20px;
}
.kkk .col-md-9 {
    padding-top: 60px;
    padding-left: 80px;
}
.kkk_sideb .item {
    margin-bottom: 5px;
}
.kkk_sideb .item span {
    font-size: 18px;
    display: block;
}
.kitchen {
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  max-width: 1600px;
  padding: 50px 0 0;
}
.kitchen.toopind p {
  line-height: 25px;
  margin: 0 auto;
  width: 50%;
  color:#000000;
}
.page-template-kook .slaider,
.page-template-yks-tasapind .slaider,
.page-template-toopinnad .slaider {
    height: 850px;
}
.kitchen {
    text-align: center;
}
.kitchen h2 {
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
}
.kitchen .tabs {
    clear: both;
    margin: 30px 0 50px 0;
}
.kitchen .tabs li {
    float: none;
    display: inline-block;

/*     background-color: #fff; */
    color: #000;

    font-weight: bold;
    font-size: 22px;
/*     margin: 0 10px; */
}

.kitchen .tabs li a {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%) repeat scroll 0 0;
    border: 0 none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 12px 50px;
}
.kitchen .tabs li:hover,
.kitchen .tabs .ui-tabs-active {
	font-size:24px!important;
    transition: 0.3s;
}
.kitchen .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    padding: 10px 0;
    background: url('images/black-80.png') repeat;
    transition: opacity 0.3s;
}
.kitchen .gal_img:hover .caption,
.toopind .mix:hover .caption {
    opacity: 1;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: transparent;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: transparent;
    position: relative;
}

.jspDrag
{
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.5;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}


.col-sm-3.gal_img {
    padding: 0;
}
.tabscontent {
    max-width: 1500px;
    margin: auto;
    font-size: 30px;
    margin-bottom: 100px;
}
.tabscontent p {text-shadow: 1px 1px 1px rgba(0,0,0,.6);}
.woocommerce-page .header,
.woocommerce .header {
    position: relative;
    background: #000;
	margin-bottom:50px;
}
.store {
    padding-top: 30px;
    max-width: 1500px;
    margin: auto;
}
.top_cat {
    text-align: center;
    margin-bottom: 20px;
}
.top_cat li {
    float: none;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.3s;
}
.top_cat li:hover,
.current-cat {
    background: #000;
    color: #fff;

}
.store .sidebar h1 {
    font-size: 50px;
    font-style: italic;
}


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.controls{
  padding: 2%;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%) repeat scroll 0 0;
    border: 0 none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    padding: 12px 50px;
	display:inline-block;
	font-weight:bold;
	font-size:22px;
}
button:hover,
button.active{
	font-size:24px!important;
    transition: 0.3s;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.toopind .filters {
  -webkit-backface-visibility: hidden;
}

.toopind .filters:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.toopind .filters .mix,
.toopind .filters .gap{
  display: inline-block;
}

.toopind .filters .mix{
  display: none;
}
.toopind .filters .mix:after{
  display: inline-block;
}

.toopind .filters .mix:before{
  display: inline-block;
}

.col-sm-3.mix {
    padding: 0;
}
.filter_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
}


/* Home page gallery */
.h_gallery div.gallery-item:nth-of-type(2n+1) {
    text-align: right !important;
}

.h_gallery div.gallery-item:nth-of-type(2n) {
    text-align: left !important;
}

.h_gallery .gallery-item .gallery-caption {
    display: none;
}

.h_gallery .gallery-item img {
    border: medium none !important;
    display: inline-block;
    margin: 0 5px;
}

.h_gallery div.gallery-item:nth-of-type(4n) img, .h_gallery div.gallery-item:nth-of-type(4n+1) img {
    height: 330px;
    width: auto;
}

.h_gallery div.gallery-item:nth-of-type(4n+2) img, .h_gallery div.gallery-item:nth-of-type(4n+3) img {
    height: 400px;
    width: auto;
}

.h_gallery .gallery-item {
    margin: 5px 0;
}

.h_gallery div.gallery-item:nth-of-type(4n+2) img {
  margin-top: -70px;
}

.home .h_gallery {
/*     margin-top: 90px;
    margin-bottom: 60px; */
	padding: 90px 0 60px 0;
	background:#FFF;
	position:relative;
    z-index: 9;
}
h3.rotatehome {
  color: rgb(236, 236, 236);
  font-size: 120px;
  height: 800px;
  left: 0;
  position: absolute;
  transform: rotate(-90deg);
  width: 883px;
}
@media all and (max-width: 1799px) {

/* Home page gallery */

.h_gallery div.gallery-item:nth-of-type(4n) img, .h_gallery div.gallery-item:nth-of-type(4n+1) img {
    height: auto;
    height: 16vw;
    width: auto;
}

.h_gallery div.gallery-item:nth-of-type(4n+2) img, .h_gallery div.gallery-item:nth-of-type(4n+3) img {
    height: auto;
    height: 21vw;
    width: auto;
}

.h_gallery .gallery-item {
    margin: 5px 0;
}

.h_gallery div.gallery-item:nth-of-type(4n+2) img {
  margin-top: 0;
  margin-top: -5vw;
}
.h_gallery {
   /* margin-top: 0;
    margin-top: 7vw; */
}
}

@media all and (max-width: 1400px ) {

.main-menu li a {
    font-size: 18px;
}
.logo img {
    max-width: 200px;
    width: 100%;
}
.main-menu {
    margin-top: 40px;
    float: right;
}
.slider_slogan h1 {
    font-size: 62px;
    margin-bottom: 50px;
}
.slider_slogan .inner {
    max-width: 1000px;
}
.slider_slogan p {
    font-size: 26px;
}
.guestbook {
    max-width: 460px;
}
.guestbook .inner {

    width: 440px;
}
.g_title {
    font-size: 20px;
    margin-bottom: 20px;
}
.g_content, .g_readmore {
    font-size: 16px;
}
.submity {
    font-size: 16px;
}
.workbench {
    font-size: 18px;
}
.workbench a, a#loadmore {
    font-size: 18px;
}
.footer {
    font-size: 16px;
}
.footer h2 {
    font-size: 22px;
    margin-bottom: 25px;
}
.slaider {
    min-height: 850px;
}
.kitchen h2 {
    font-size: 45px;
}
.tabscontent {
    font-size: 20px;
}
button {
    font-size: 18px;
}
.tabscontent {
    font-size: 16px;
}



}

@media all and (max-width: 1200px ) {

.main-menu li {
    padding: 0 8px;
}
.main-menu li a {
    font-size: 16px;
}
.main-menu {
    margin-top: 45px;
    float: right;
}
.slider_slogan .inner {
    max-width: 767px;
}
.form_wrap.feedback h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.feedback input[type='text'], .feedback input[type='email'] {
    height: 40px;
    line-height: auto;
}
.feedback .form_item {
    margin-bottom: 15px;
}
.feedback input.wpcf7-submit {
    font-size: 16px;
    padding: 10px 35px;
    margin-bottom: 15px;
}

}



.page-template-yks-tasapind .content.w_bg .container {
    padding-top: 50px;
}
.tasapind {
    padding: 50px 0;
}
.tasapind .title {
    font-size: 50px;
    margin-bottom: 20px;
}
.moreinfotitle h2 {
    font-size: 28px;
	margin-bottom:12px;
}
.moreinfotitle .infotitle {
    width: 30%;
    float: left;
    font-weight: bold;
    font-size: 17px;
}

.moreinfotitle .infocontent {
    width: 70%;
    float: left;
    margin-bottom: 5px;
}
.infocontent .item {
    float: left;
    margin-right: 10px;
    color: #7d7979;
    line-height: 26px;
}
.infocontent .item.active {
    background-color: #bebebe;
    color: #765b08;
    padding: 0 10px;
}
.moreinfotitle .infocontent li {
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
}
.moreinfotitle .infocontent ul {
    max-width: 500px;
}
.tasapind .orangeg {
    padding: 20px 50px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
}
.offerbutton {
    text-align: center;
}
.gallery-item {
    width: 320px;
    margin: 0 10px 10px 0;
}
.g_item a {
  float: left;
  margin: 5px 0;
  padding: 5px;
}

/* .gallery-item:nth-child(1) {
    height: 220px;
}
.gallery-item:nth-child(1) img {
    height: 1
}
.gallery-item:nth-child(2) {
    height: 485px;
}
.tasapind_gallery .gallery-caption {
    display: none;
} */


/* WooCommerce custom */

.tax-product_cat a.add_to_cart_button,
.sale  .onsale,
.tax-product_cat .onsale,
.woocommerce-page  .page-title {display:none;}

ul.products {margin-top:50px!important;}
.products h3 { font-size: 24px !important; text-align:center;}
.products .price {font-size: 22px!important; color:#000!important; font-style:italic; text-align:center;}

.sidebar .filters {background:#000; color:#FFF; padding:30px; margin-top:10px; font-size:22px;}
.sidebar .filters h2.rounded { font-style:italic; font-size:20px;}

a.yith-wcan-reset-navigation  {background:#FFF!important; color:#000; margin-top:30px!important;}

/* .products li .button {
display: none;
left: 24%;
position: absolute;
top: 24%;
} */
.products li .button {
display: none;
left: 0%;
position: absolute;
top: 0%;
height:100%;
width:100%;
}
.woocommerce .products a.button, .woocommerce .products button.button, .woocommerce .products input.button {
background:none!important;
padding:0!important;
text-indent:-9999px!important;
}
.woocommerce ul.products li.product .button {
    margin-top: 0!important;
}
.products li:hover img{opacity:0.5;}
.products li:hover a.button{display:block;}

#yith-quick-view-modal.open .yith-wcqv-main {
    color: #fff;
    background:#000;
}

#yith-quick-view-modal input.qty {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
    height: 37px;
	margin-right:20px;
}

button.single_add_to_cart_button {
	background:#000!important;
	border: 1px solid #FFF!important;
	border-radius: 0px!important;
}
.summary h1.product_title  {font-size:32px!important;}
.summary .amount {font-size:24!important; font-style:italic!important; color:#FFF!important;}
.summary .product_meta {display:none;}

.woocommerce .woocommerce-checkout  input { height:40px; border:1px solid #000;}
.woocommerce .woocommerce-checkout  textarea { border:1px solid #000;}
.woocommerce .woocommerce-checkout  label { color:#000;}
.woocommerce .woocommerce-checkout  .placeholder { font-size:12px; padding-left:10px; font-weight:normal;}

.woocommerce-cart a.checkout-button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%) repeat scroll 0 0!important;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 25px;
    text-transform: uppercase;
}

.coupon #coupon_code {
    height: 36px !important;
    width: 150px;
}

.woocommerce-cart table.cart img {
    width: 90px;
}
.berocket_aapf_widget-title {
    font-size: 20px;
	font-family:"Droid Sans",sans-serif;
	font-style:italic;
    margin-bottom: 10px;
}
ul.berocket_aapf_widget li > span:hover{
    color: #FFF;
	cursor:pointer;
}
label.berocket_label_widgets {cursor:pointer;}

.yith-wcqv-wrapper { padding:0px!important; opacity:0.8}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #769c3e;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
a.tooltip-right { padding-left:10px;}
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

a.yith-wcqv-button { background:none!important;}

/* --------------------------
    MOBILE MENU
-------------------------- */

/* Mobile nav trigger */
#trigger-overlay {
  color: #fff;
  display: none;
  float: right;
  height: 42px;
/*   padding-top: 11px; */
  position: relative;
/*   right: 80px; */
  text-transform: uppercase;
/*   top: -33px; */
	top:5px;
  width: 120px;
}

#trigger-overlay .text {
  font-size: 19px;
  font-weight: 600;
  left: 10px;
  position: relative;
  top: -5px;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index:10000
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 10px;
	top: 12px;
	overflow: hidden;
	border: none;
	text-indent: -9000px;
	outline: none;
	z-index: 100;
	background-color:transparent;background-image: url('../images/close.png');background-size:32px 32px;background-repeat:no-repeat;background-position:0 0
}

/* Menu style */

.mobile_menu { position:relative;height:100%;overflow:auto; text-align:center; }

.overlay nav { position:relative;padding:10px 50px 20px 10px; }
.overlay ul { list-style:none;padding:0;margin:0;position:relative;width:100%;border-top:1px solid #353535; }
.overlay ul li { display:block;border-bottom:1px solid #353535; }
.overlay ul li a {
  color: #FFF;
  display: block;
  font-size: 24px;
  line-height: 36px;
  padding: 7px 0;
  transition: color 0.2s ease 0s;
}
.overlay ul li.current-menu-item a { color:#0083bf }
.overlay ul li a:hover { color:#00709E }

/* Effects */
.contentWrapper { -webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s; }
.contentWrapper.overlay-open { -webkit-transform: translateX(50%);transform: translateX(50%); }
.contentWrapper::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.contentWrapper.overlay-open::after { visibility: visible;opacity: 1;-webkit-transition: opacity 0.5s;transition: opacity 0.5s; }
.overlay-contentpush {
	background: rgba(0,0,0,0.9);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}
.overlay-contentpush.open { visibility: visible;-webkit-transform: translateX(0%);transform: translateX(0%);-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s; }


@media only screen and (max-width: 990px) {
	.main-menu { display:none;}
	#trigger-overlay { display:block}
}
